<template name="about">
  <div class="page about">
    {{> nav title='Stammlokal'}}

    <div class="content-scrollable">
      <div class="description-about">
        <p>Wir sind es leid zu warten. Unsere Mittagspause ist zu wertvoll, um sie in einer Warteschlange zu verbringen. Darum haben wir Stammlokal gebaut. Vorbestellen in deinen Stammlokalen.</p>
        <p>Stammlokal ist aktuell im Betatest. Falls du mit deinem Lokal dabei sein oder eines vorschlagen möchtest, schick uns doch eine Nachricht.</p>
        <p>Während des Betatests ist Stammlokal komplett kostenlos. Danach werden Lokalen ein geringer Anteil des Bestellwertes in Rechnung gestellt. Für Besteller bleibt die Anwendung kostenlos.</p>
      </div>

    </div>
    <a href="mailto:stammlokal@qualityswdev.com?Subject=Stammlokal" class="btn-primary js-open" target="_blank">Nachricht senden</a>
  </div>
</template>