<template name="authOverlay">
  <div class="overlay auth">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
      <div class="title-overlay">Melde dich an</div>
      <div class="subtitle-overlay">um dir deine Stammlokale zu merken und vorzubestellen.</div>
    </div>

    <button class="js-signin btn-facebook">Mit Facebook anmelden</button>
    <button class="js-signin btn-twitter">Mit Twitter anmelden</button>
  </div>
</template>