<template name="orders">
  <div class="page orders">
    {{> nav title='Bestellungen' subtext=orderCount}}

    <div class="content-scrollable">
      <div class="list-orders">
        {{#each orders}}
          <p class="order">
            <span class="text">{{text}}</span>
            <div class="details">
              {{#if isMyPlace}}
                <img class="avatar" src={{userAvatar}} alt="Profilbild"/>
                <span class="source">{{userName}}</span>
              {{/if}}
              {{#if isMyOrder}}
                <img class="avatar" src={{placeAvatar}} alt="Profilbild"/>
                <span class="source">{{placeName}}</span>
              {{/if}}
              <span class="detail-middle">{{time}}</span>
              {{#if confirmed}}
                <span class="status"><i class="fa fa-check"></i><i class="fa fa-check"></i> bestätigt</span>
              {{else}}
                <span class="status"><i class="fa fa-check"></i> gesendet</span>
              {{/if}}
            </div>
            {{#if unconfirmedForMyPlace}}
              <a href="#" class="confirm"><i class="fa fa-check"></i></a>
            {{else}}
              <span class="time" data-livestamp="{{isoDate}}"></span>
            {{/if}}
          </p>
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">Noch keine Bestellungen</div>
            <div class="subtitle-message">Tippe bei einem Lokal in dem du vorbestellen möchtest rechts unten auf 'Vorbestellen'. <a href="{{pathFor 'places'}}">Zurück zu allen Lokalen</a></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>