<template name="place">

  <div class="page place {{activeTabClass}}">
    {{#nav title='Lokal' black=true back=true}}
      {{#if bookmarked}}
        <a href="#" class="nav-item js-remove-bookmark bookmarked"><span class="icon-bookmark"></span></a>
      {{else}}
        <a href="#" class="nav-item js-add-bookmark"><span class="icon-bookmark-hollow"></span></a>
      {{/if}}
    {{/nav}}

    <div class="image-place" style="background-image: url('{{placeImage place=this size='full'}}')"></div>

    <div class="attribution-place js-uncollapse">
      <h1 class="title-place">{{title}}</h1>
      <div class="metadata-wrapper">
        <p class="description-place">
          <div>{{address}}</div>
          <div>{{openingHours}}</div>
        </p>
        <span class="source">{{distance}}</span>
        <span class="time">{{time}}</span>
      </div>

      <div class="btns-group slide">
        <a class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'place'}}no-state{{/if}} js-show-place">Speisekarte</a>
        <a id="btn-order" class="btn-secondary {{#if isActiveTab 'feed'}}active{{/if}} {{#if isActiveTab 'place'}}no-state{{/if}} js-show-feed">Vorbestellen</a>
      </div>
    </div>


    <div class="content-scrollable static-nav make-scrollable">
      <h2 class="list-title">Essen</h2>
      <ul class="list-meals">
        {{#each meals}}
          <li class="item-meal">
            {{> menuItem}}
          </li>
        {{/each}}
      </ul>

      {{#if beverages}}
        <h2 class="list-title">Trinken</h2>
        <ul class="list-beverages">
          {{#each beverages}}
            <li class="item-beverage">
              {{> menuItem}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <div class="content-scrollable static-nav feed-scrollable">
      <form class="order-form">
        <div class="btns-group">
          <a class="btn-tertiary {{#if isActiveTime 15}}active{{/if}} js-select-15">15 min</a>
          <a class="btn-tertiary {{#if isActiveTime 30}}active{{/if}} js-select-30">30 min</a>
          <a class="btn-tertiary {{#if isActiveTime 45}}active{{/if}} js-select-45">45 min</a>
          <a class="btn-tertiary {{#if isActiveTime 60}}active{{/if}} js-select-60">60 min</a>
        </div>
        <textarea id="text" rows="15" placeholder="Was möchtest du essen?"></textarea>
        {{#if currentUser}}<button type="submit" class="btn-primary">Vorbestellen</button>{{/if}}
      </form>
    </div>
  </div>
</template>